
/* =======INITIAL VARIABLES=====*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600&family=Noto+Sans:wght@300;400&display=swap');


* {
  box-sizing: border-box;
}

:root {
  --white-color:white;
  --celestial-blue: #4195C9 ;
  --carolina-blue: #79B9D4;
  --columbia-blue:#C1D5E3;
  --midnight-green: #0C4551;
  --oxford-blue:#051C35;
  
  --lora: 'Lora', serif;
  --noto-sans: 'Noto Sans', sans-serif;

  --display-animation:linkAnim 0.5s ease 0s 1 normal forwards;

}


/* --general rule for input*/
/* 
  use webkit to run in all browsers
  input:focus::placeholder
*/
input:focus::-webkit-input-placeholder  { 
  opacity: 0;
}


/* =====================MOBILE VERSION================= */


/* --------hamburguer menu ---------*/
/* menu icon styles */
.menu-icon {
  width: 2.5rem;
  margin: 1.2rem 0.2rem;
}
  
.menu-icon > div  {
   width: 2rem;
   height: 0.3125rem;
   background-color: var(--white-color);
   margin: 0.375rem 0 0;
   position:relative; /* Needed to define the z-index */
   z-index: 3;
   transition: 0.1s ease-out;
}



.menu-icon:hover {
  cursor: pointer; 
} 

.menu-icon:hover > div {
  /* searched in stackoverflow*/
  /* http://bitly.ws/B9kU */
  background-color: var(--columbia-blue);
}
 

/* class to be added with JS */
/* .menu-expanded  */

/* behavior of each div icon with after the class be added */

.menu-expanded:nth-of-type(1) {
  transform: translate(1rem)
             rotate(45deg) 
             translateY(1rem);
}
  
.menu-expanded:nth-of-type(2) {
  opacity: 0;
   /* this is for remove element on the screen fastest */
  transition: 0.01s;
}
  
.menu-expanded:nth-of-type(3) {
  transform: translate(1rem)
             rotate(-45deg)
             translateY(-1rem);
}
  




/* -----header----- */

header {
  background: var(--white-color);
}

nav {
  background: var(--oxford-blue );
  padding: 0.2rem;
}

#links-menu {
  font-family: var(--noto-sans);
  display: none;
  margin: auto;
  text-align: center;
  margin-bottom: 0.4rem;
}

/* 
 this class needs to be after the previous display 'none' 
 to display the code block. 
*/
.show-navigation {
  display:block !important;
}

@keyframes linkAnim {
	100% {
		opacity: 1;
	}

	0%{
		opacity: 0;
	}
}

#links-menu > a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 0.8rem;
  padding: 1rem;
  animation: var(--display-animation);
}


#links-menu > a:hover {
  color: var(--columbia-blue);
  transition: all 0.2s ease-out;
}

h1 {
  text-align: center;
  padding: 0.8rem 0.4rem 0.4rem;
  margin-block: 0.4rem;
  font-size: 1.8rem;
  color:var(--oxford-blue);
}

#form-user {
  padding: 0.4rem 0.8rem;
  font-family: var(--noto-sans);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background: var(--oxford-blue);

}

#form-user button {
  display: block;
  padding: 0.4rem;
  font-size: 0.7rem;
  font-weight: 600;
  margin: 0.2rem;
  border-radius: 0.4rem;
  border: solid var(--carolina-blue);
  color: var(--white-color);
  background: var(--carolina-blue);
  width: 40%;
}

#form-user button:hover {
  background: var(--celestial-blue);
  color: var(--white-color);
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}

/* custom users */
.user-welcome {
  font-size: 1.2rem;
  color: white;
  animation: var(--display-animation);
}

#userInput {
  border-radius: 0.2rem;
  padding: 0.4rem;
  border: none;
  border-bottom: solid var(--midnight-green) 1px;
  display: block;
  margin: auto;
  font-family: var(--noto-sans);
}

#userInput:focus {
  background: var(--columbia-blue);
  color: var(--oxford-blue);
  text-align: center;
  transition: all ease-in 0.2s;
  border: solid var(--white-color) 0.1rem;

  /* remove the yellow border chrome set to default on focus */
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

#userInput::placeholder {
  font-family: var(--noto-sans);
  text-align: center;
  color: var(--oxford-blue);

}





/* ---main list---- */

#search {
  background-image: url('../assets/icons8-search-32.png'); 
  background-position: 6px 6px; /* Position the search icon */
  background-repeat: no-repeat; 
  background-size: 1.8rem;

  display: block;
  margin: 0.8rem auto;

  width: 95%; 

  font-size: 0.9rem; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; 

  border-radius: 5px;
  text-align: center;
  
}



#search::placeholder {
  font-family: var(--noto-sans);
  text-align: center;
  color: var(--oxford-blue);
}


#list {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}
  
#list li a {
  
  border: 1px solid var(--white-color); 
  margin-top: 0.5px; 
  background-color: var(--columbia-blue); 
  padding: 0.6rem 0.6rem 0.6rem 1rem; 
  text-decoration: none; 
  font-family: var(--noto-sans);
  font-size: 1rem; 
  color: var(--oxford-blue); 
  display: block; /* Make it into a block element to fill the whole list */
}
  
#list li a:hover:not(.header) {
  background-color: var(--carolina-blue); /* Add a hover effect to all links, except for headers */
}


/* class used to filter the elements */
.location-hidden {
  display: none;
}

main {
  height: 15rem;
  /* width: 50rem; */
  overflow-y: scroll;
}


/* --country details section-- */

#country-details h2, 
#country-details h3 {
  color: var(--oxford-blue);
  text-align: center;
  font-family: var(--lora);
}

#country-details {
  margin-top: 0.5rem;
  border-top: solid var(--oxford-blue) 0.2rem;
}

/*----------- accordion feature ----------------*/

.accordion {
  background-color: var(--celestial-blue);
  color: var(--white-color);
  font-family: var(--lora);
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 0.2rem;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  animation: var(--display-animation);
}

.active, .accordion:hover {
  background-color: var(--oxford-blue);
}

.accordion:after {
  content: '\002B';
  color: var(--white-color);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 5px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  font-family: var(--noto-sans);
  margin: 0.4rem auto;
  text-align: left;
  font-size: 1rem;
  padding: 0.8rem;
  background: var(--carolina-blue);
  border-radius: 0.4rem;
}


.panel p a {
  text-decoration: none;
  color: var(--white-color);
}




.panel p a:hover {
  color: var(--celestial-blue);
}


.panel #official-image {
  display: block;
  margin: auto;
}


/* ---footer ---- */

footer {
  margin-top: 0.5rem;
  background: var(--oxford-blue);
  color: var(--white-color);
  font-family: var(--noto-sans);
  
}

footer .links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}


.links-container > a {
  text-decoration: none;
  color: var(--white-color);
  padding: 0.2rem;

}

.links-container > a,
.links-container span {
  font-size: 0.85rem;
}


.links-container > a:hover {
  color: var(--columbia-blue);
  transition: all 0.2s ease-out;
}




/*======================DESKTOP VERSION============== */



@media only screen and (min-width: 45rem) {


  h1 {
    color: var(--white-color);
  }

  main {
    height: 65vh;
  }

  nav .menu-icon {
    display: none;
  }

  nav #links-menu {
    display: block;
  }

  #links-menu {
    text-align: right;
  }

  nav:first-child::before {
    content: '🌍';
    position: absolute;
    left: 2rem;
    cursor: not-allowed;
  }

  #form-user {
    flex-direction: row;
    padding: 2rem;
    justify-content:center;
  }

  footer a, 
  nav a,
  span {
    font-size: 0.9rem !important;
  }

  #form-user button {
    width: 25%;
  }

  #userInput {
    width: 50%;
  }

  main {
    background: var(--oxford-blue);
  }

  header {
    background: var(--carolina-blue);
  }

  .accordion {
    display: block;
  }
  
  #search {
    display: block;
    margin: auto;
    max-width: 75%;
  }

  #list,
  .accordion,
  .panel {
    max-width: 80%;
    margin: auto;
  }

 
 

  footer .links-container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    padding-inline: 3rem;
  }

  span {
    order: -1;
  }


  /* animation added with JS */

  @keyframes searchEffect {
    100% {
      transform: scale(1);
    }

    0%{
      transform: scale(0.9);
    }
  }

  .loading-search {
    animation: searchEffect 2s ease 0s 1 normal forwards ;
  }

}

@media only screen and (min-width: 2064px) {
  main {
    height: 80vh;
  }
}