
/* =======INITIAL VARIABLES=====*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600&family=Noto+Sans:wght@300;400&display=swap');

/* font-family: 'Lora', serif;
font-family: 'Noto Sans', sans-serif; */
* {
  box-sizing: border-box;
}

:root {
  --white-color:white;
  --celestial-blue: #4195C9 ;
  --carolina-blue: #79B9D4;
  --columbia-blue:#C1D5E3;
  --midnight-green: #0C4551;
  --oxford-blue:#051C35;
  
  --lora: 'Lora', serif;
  --noto-sans: 'Noto Sans', sans-serif;



}


/* =====================MOBILE VERSION================= */

header {
  background: var(--celestial-blue);

}


/* -----header----- */

h1 {
  text-align: center;
  padding: 0.8rem 0.4rem 0.4rem;
  margin-block: 0.4rem;
  font-size: 1.8rem;
  color:var(--white-color);
}

#form-user {
  padding: 0.2rem 0.8rem;
  font-family: var(--noto-sans);
}

#form-user button {
  display: block;
  padding: 0.4rem;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 0.2rem;
  border-radius: 0.4rem;
  border: solid var(--carolina-blue);
  color: var(--white-color);
  background: var(--carolina-blue);
}

#form-user button:hover {
  background: var(--oxford-blue);
  color: var(--white-color);
  transition: all ease-in-out 0.4s;
}



#custom-page {
  color: var(--oxford-blue);
}

#userInput {
  border-radius: 0.2rem;
  padding: 0.4rem;
  border: none;
  border-bottom: solid var(--midnight-green) 1px;
  display: block;
  margin: auto;
  font-family: var(--noto-sans);
}

#userInput:focus {
  background: var(--oxford-blue);
  color: var(--white-color);
  text-align: center;
  transition: all ease-in 0.2s;
  border: solid var(--white-color) 1px;

  /* remove the yellow border chrome set to default on focus */
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

#userInput::placeholder {
  font-family: var(--noto-sans);
  text-align: center;
  color: var(--oxford-blue);
}










/* ===================SEARCH/FILTER  GENERAL FEATURE================= */

#search {
  background-image: url('../assets/icons8-search-32.png'); /* Add a search icon to input */
  background-position: 5px 5px; /* Position the search icon */
  background-repeat: no-repeat; 
  width: 80%; 

  font-size: 0.9rem; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
  
#list {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}
  
#list li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: var(--columbia-blue); 
  color: var(--white-color);
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}
  
#list li a:hover:not(.header) {
  background-color: var(--carolina-blue); /* Add a hover effect to all links, except for headers */
}


/* class used to filter the elements */
.location-hidden {
  display: none;
}

main {
  height: 20rem;
  /* width: 50rem; */
  overflow-y: scroll;
}


/* custom users */
.user-welcome {
  font-size: 1.2rem;
}



/* ===============ACCORDION FEATURE================= */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.8s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 5px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
}


